src/main/mule/connector-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:cw="http://www.mulesoft.org/schema/mule/cw"
      xmlns:weather="http://www.mulesoft.org/schema/mule/weather" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/weather http://www.mulesoft.org/schema/mule/weather/current/mule-weather.xsd
http://www.mulesoft.org/schema/mule/cw http://www.mulesoft.org/schema/mule/cw/current/mule-cw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd">
	<flow name="blindJSON" doc:id="2320e0de-0214-42ef-8252-da76d34a55af" >
		<http:listener doc:name="Copy_of_Listener" doc:id="80124f62-ee35-40df-9439-4a8ddde85fc2" config-ref="HTTP_Listener_config" path="/blindJSON" allowedMethods="GET" />
		<set-variable value='#["12345"]' doc:name="Tweak" doc:id="5222c65d-7d9c-4fbc-a93c-3aa49931e7f9" variableName="tweak" />
		<cw:encrypt-json doc:name="Encrypt json" doc:id="cfad5aee-5682-4a30-91c9-8675cac6919d" config-ref="CW_Config" arg1="#[write(payload.SensitiveFields, 'application/json')]" arg2="#[write(payload.SensitiveJSON, 'application/json')]" arg3="#[vars.tweak]" arg4="#[payload.OverRideToken.token]" arg5="#[payload.OverRideToken.passPhrase]"/>
	
</flow>
	<flow name="clearJSON" doc:id="8fcf8e85-511c-4474-8378-e4e6acfde524" >
		<http:listener doc:name="Listener" doc:id="a5d62a39-1576-4d3b-8d47-a56ec3bef141" config-ref="HTTP_Listener_config" path="/clearJSON" />
		<set-variable value='#["12345"]' doc:name="Tweak" doc:id="f7286e2b-82c8-4c86-a8f1-683d13327479" variableName="tweak" />
		<cw:decrypt-json doc:name="Decrypt json" doc:id="d43c53ce-95e9-4ed6-bf2d-9d3f0b8d1227" config-ref="CW_Config" arg5="#[payload.OverRideToken.passPhrase]" arg1="#[write(payload.SensitiveFields, 'application/json')]" arg2="#[write(payload.SensitiveJSON, 'application/json')]" arg3="#[vars.tweak]" arg4="#[payload.OverRideToken.token]"/>
	
</flow>

</mule>